LN_PROVIDER=breez

# App
NEXT_PUBLIC_BASE_PATH=
NEXT_PUBLIC_SERVER_URL=
NEXT_PUBLIC_ASSET_URL=
NEXT_PUBLIC_AUTH_METHOD=
NEXT_PUBLIC_SITENAME=

# Auth0
NEXT_PUBLIC_AUTH0_DOMAIN=
NEXT_PUBLIC_AUTH0_CLIENT_ID=
NEXT_PUBLIC_AUTH0_CALLBACK_URL=
NEXT_PUBLIC_AUTH0_AUDIENCE=

# Supabase
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
