# Build directories

build/_
dist/_
public/_
\*\*/out/_
**/.next/\*
**/node_modules/\*

# src/

**/reportWebVitals.\*
**/service-worker._
\*\*/serviceWorkerRegistration._ \*_/setupTests._

# eslintrc

\*_/.eslintrc._

# prettier

**/.prettier.\*
**/prettier.config.\*

# next

\*_/next.config._

# vite

\*_/vite.config._

# tailwind

**/postcss.config.\*
**/tailwind.config.\*

# craco

\*_/craco.config._

# misc

\*\*/jsconfig.json

# openapi

src/lib/swissknife/types.gen.ts
