# App
invoice_expiry = "12h"
domain = "numeraire.tech"
host = "https://api.numeraire.tech"
fee_buffer = 0.02
bitcoin_address_type = "p2wpkh"
ln_provider = "breez"
auth_provider = "jwt"
dashboard_dir = "/var/www/swissknife-dashboard"

# Web server
[web]
addr = "0.0.0.0:3000"
request_timeout = "60s"

# Breez Lightning provider
[breez_config]
working_dir = "storage/breez"
certs_dir = "certs/greenlight"
log_in_file = false
restore_only = true
api_key = "CHANGE_ME" # Recommended to use secret instead
seed = "CHANGE_ME" # Recommended to use secret instead

# Core Lightning provider
[cln_grpc_config]
endpoint = "https://localhost:11002"
certs_dir = "certs/lightningd"
maxfeepercent = 0.5
payment_timeout = "60s"
payment_exemptfee = 5000
retry_delay = "5s"

[cln_rest_config]
endpoint = "http://localhost:3010"
# ca_cert_path = "certs/lightningd/ca.cert" # Optional for HTTP
rune = "CHANGE_ME" # Recommended to use secret instead
connect_timeout = "5s"
timeout = "90s"
connection_verbose = true
accept_invalid_certs = false
accept_invalid_hostnames = false
maxfeepercent = 0.5
payment_timeout = "60s"
payment_exemptfee = 5000
ws_min_reconnect_delay = "1s"
ws_max_reconnect_delay = "30s"

# LND Lightning provider
[lnd_config]
host = "localhost:8080"
macaroon_path = "certs/lnd/admin.macaroon"
# ca_cert_path = "certs/lnd/tls.cert"" # Optional for HTTP
connect_timeout = "5s"
timeout = "90s"
connection_verbose = true
accept_invalid_certs = false
accept_invalid_hostnames = false
payment_timeout = "60s"
fee_limit_msat = 25000
ws_min_reconnect_delay = "1s"
ws_max_reconnect_delay = "30s"
reorg_buffer_blocks = "2"

# Logging
[logging]
format = "json"
ansi = false
line_number = false
thread_ids = false
thread_names = false
level = "info"
filter = "swissknife=info"
file = false

# Authentication
[oauth2]
domain = "auth.numeraire.tech"
audience = "https://swissknife.numeraire.tech/api/v1"
jwks_refresh_interval = "1h"
leeway = "60s"

[jwt]
token_expiry = "1h"
secret = "CHANGE_ME" # Recommended to use secret instead

# Database
[database]
url = "sqlite://storage/swissknife.db?mode=rwc"
max_lifetime = "30m"
idle_timeout = "5m"
max_connections = 10
min_connections = 0
acquire_timeout = "5s"
connect_timeout = "30s"
sqlx_logging = false
